1)Create three variables (a,b,c) to same value of any integer & do the following

a) Divide a by 10

b) Multiply b by 50

c) Add c value by 60

In [9]:
a = b = c = 10

In [10]:
print(a/10)

1.0

In [11]:
print(b*50)

500

In [12]:
print(c+60)

70

2)Create a String variable of 5 characters and replace the 3rd character with G

In [13]:
string1 = "hello"
string2 = string1[:2] + "G" + string1[3:]
print(string2)

heGlo

3)Create two values (a,b) of int,float data type & convert the vise versa, Hint : convert a from int to float datatype & b from float to int datatype

In [14]:
a=10
b=20.0

In [15]:
print(float(a))

10.0

In [16]:
print(int(b))

20