In [1]:
list1 = []
n = int(input("Enter number of elements : "));
print("Enter list elements : ");
for i in range (0,n):
  ele = int(input())
  list1.append(ele)
print(list1)

Enter number of elements : 5
Enter list elements :
2
3
4
5
6
[2, 3, 4, 5, 6]

In [2]:
print("Enter element to add : ");
ele = int(input())
list1.append(ele)
print("List after adding element : ",list1)

Enter element to add :
7
List after adding element :  [2, 3, 4, 5, 6, 7]

In [3]:
ele = int(input("Enter element to insert : "))
pos = int(input("Enter the position you want to add the element : "))
list1.insert(pos,ele)
print("List after adding element : ",list1)

Enter element to insert : 1
Enter the position you want to add the element : 0
List after adding element :  [1, 2, 3, 4, 5, 6, 7]

In [4]:
i = int(input("Enter the position of the element to delete : "))
del list1[i]
print("List after deletion: ",list1)

Enter the position of the element to delete : 2
List after deletion:  [1, 2, 4, 5, 6, 7]

In [5]:
largest = max(list1)
print("The largest element is : ",largest)

The largest element is :  7

In [6]:
smallest = min(list1)
print("The smallest element is : ",smallest)

The smallest element is :  1

2) Create a tuple and print the reverse of the created tuple

In [9]:
tup = []
n = int(input("Enter number of elements : "))
print("Enter tuple elements : ")
for i in range (0,n):
  ele = int(input())
  tup.append(ele)
print(tuple())

Enter number of elements : 5
Enter tuple elements :
2
3
4
6
1
()

In [10]:
tup[::-1]

[1, 6, 4, 3, 2]

In [11]:
tup2 = reversed(tup)
print(tuple(tup2))

(1, 6, 4, 3, 2)

 Create a tuple and convert tuple into list

In [12]:
tup = ("priya", "maya", 1, 2)
print(list(tup))

['priya', 'maya', 1, 2]